<!DOCTYPE html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_shop.css') }}">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
      
       .grid-container{
       display:grid;
       grid-template-columns: auto auto auto;
       padding:10px;
       gap:1000px
       }
       .grid-item{
       padding: 20px;
       font-size: 50px
       text-align:center;
       }
       
       #rcorners1{
       border-radius: 25px;
       background: #73AD21;
       padding: 20px;
       width: 200px;
       height: 250px;
       }
    </style>
    <title>Document</title>
    
    
  </head>
  <body>
    <div class="shop">
      <div class="rectangle-2"></div>
        <div class="group-2">
            <div class="group-214">
                <div class="hometopmenu" >
              <a href="{{ url_for('home')}}">Home</a>
            </div>
            <div class="shoptopmenu">
                <a href="{{ url_for('shop')}}">Shop</a>
            </div>
            <div class="abouttopmenu">
                <a href="{{ url_for('logout')}}">Logout</a>
            </div>
            <div class="contacttopmenu">
                <a href="{{ url_for('cart')}}">Cart</a>
            </div>
            <div class="toolstopmenu">
                <a href="{{ url_for('login')}}">Account</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <form class="form-inline my-2 my-lg-0 ml-auto" action="{{ url_for('search') }}">
		  	<input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" size="40" required>
		  	<input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
		    </form>
		    </div>
            </div>
        </div>
        <<svg
        class="group-1"
        width="247"
        height="28"
        viewBox="0 0 247 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        
        <path
          d="M97.5 24.5L92.2663 19.257M95.1667 12.25C95.1667 14.8801 94.1219 17.4024 92.2622 19.2622C90.4024 21.1219 87.8801 22.1667 85.25 22.1667C82.6199 22.1667 80.0976 21.1219 78.2379 19.2622C76.3781 17.4024 75.3333 14.8801 75.3333 12.25C75.3333 9.61995 76.3781 7.0976 78.2379 5.23787C80.0976 3.37813 82.6199 2.33334 85.25 2.33334C87.8801 2.33334 90.4024 3.37813 92.2622 5.23787C94.1219 7.0976 95.1667 9.61995 95.1667 12.25V12.25Z"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
      
      
      <div class="group-62">
        <div class="line-5"></div>
        <div class="showing-1-16-of-32-results">Showing 1–16 of 32 results</div>
      </div>
      <div class="group-60">
        <div class="show">Show</div>
        <div class="group-58">
          <div class="rectangle-22"></div>
          <div class="_16">16</div>
        </div>
      </div>
      <div class="group-61">
        <div class="short-by">Sort by</div>
        <div class="group-59">
          <div class="rectangle-21"></div>
          <div class="default">Default</div>
        </div>
      </div>
      
      <br>
            <br>
                  <br> <br>
            <br>
                  <br> <br>
            <br>
                  <br>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}

	{% if search %}
	<h3>Search results for "{{ query }}":</h3>
	{% else %}
	<h3>New Arrivals</h3>
	<br>
	<div class="items">
	{% for item in items[::-1] %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ item.image }}" class="pic">
				</div>
				{{ item.name }}<br>
				<span class="center-item">${{ item.price }}</span><br>
					
					
			</div>
		</div>
	</a>
	{% endfor %}
	</div>

	<br><br><h3>Most Popular</h3>
	{% endif %}
	<br>
	<div class="items">
	{% for item in items %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ item.image }}" class="pic">
				</div>
				{{ item.name }}<br>
				<span class="center-item">${{ item.price }}</span><br>
					
					
			</div>
		</div>
	</a>
	{% endfor %}
	</div>

	{% if not items %}
	<div class="flash-error">
		No items found.<br>
		<a href="{{ url_for('home') }}">Discover new items</a>
	</div>
	{% endif %}
{% endblock %}         
          <div class="group-72">
            <div class="group-68">
              <div class="rectangle-23"></div>
              <div class="_1">1</div>
            </div>
            <div class="group-69">
              <div class="rectangle-232"></div>
              <div class="_2">2</div>
            </div>
            <div class="group-70">
              <div class="rectangle-233"></div>
              <div class="_3">3</div>
            </div>
            <div class="group-71">
              <div class="rectangle-234"></div>
              <div class="next">Next</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-17"></div>
      <div class="group-73">
        <div class="free-delivery">Free Delivery</div>
        <div class="for-all-oders-over-50-consectetur-adipim-scing-elit">
          For all oders over $50, consectetur adipim scing elit.
        </div>
      </div>
      <div class="group-74">
        <div class="_90-days-return">90 Days Return</div>
        <div class="if-goods-have-problems-consectetur-adipim-scing-elit">
          If goods have problems, consectetur adipim scing elit.
        </div>
      </div>
      <div class="group-75">
        <div class="secure-payment">Secure Payment</div>
        <div class="_100-secure-payment-consectetur-adipim-scing-elit">
          100% secure payment, consectetur adipim scing elit.
        </div>
      </div>
      <svg
        class="rectangle-19"
        width="1440"
        height="556"
        viewBox="0 0 1440 556"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0 0.892578H1440V555.893H0V0.892578Z" fill="white" />
      </svg>
      <div class="group-45">
        <div class="group-32">
          <div class="group-31">
            <div class="group-28">
              <div class="group-26">
                <div class="group-24">
                  <div class="home3">Home</div>
                  <div class="shop5">Shop</div>
                  <div class="about2">About</div>
                  <div class="contact2">Contact</div>
                </div>
                <div class="links">Links</div>
              </div>
              <div class="group-27">
                <div class="help">Help</div>
                <div class="group-25">
                  <div class="payment-options">Payment Options</div>
                  <div class="returns">Returns</div>
                  <div class="privacy-policies">Privacy Policies</div>
                </div>
              </div>
            </div>
            <div class="group-30">
              <div class="newsletter">Newsletter</div>
              <div class="group-29">
                <div class="enter-your-email-address">
                  Enter Your Email Address
                </div>
                <div class="line-2"></div>
                <div class="subscribe">SUBSCRIBE</div>
                <div class="line-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-44">
          <div class="line-4"></div>
          <div class="_2023-24-group-11-all-rights-reverved">
            2023-24 Group 11. All rights reverved
          </div>
        </div>
      </div>
      <div class="rectangle-742"></div>
    </div>
  </body>
</html>
